.image {
	width: auto;
	height: 150px;
	margin-top: 30px;
	padding-top: 0px;
	border: 1px solid #000;
	border-radius: 10px;
}

.div-block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #f6f6f6;
}

.html-embed {
	margin-bottom: 50px;
}

.message {
	width: 80%;
	padding: 0 30px;
	text-align: 'center';
	margin: auto;
}

@media screen and (max-width: 767px) {
	.image {
		height: 120px;
	}
}

@media screen and (max-width: 479px) {
	.image {
		height: 80px;
	}
}
